html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #565867;
    background-color: #fafafa;
}

img {
    max-width: 100%;
    display: block;
}

/* Typography */

a {
    text-decoration-line: underline;
    color: #111;
}

a:hover,
a:focus {
    text-decoration: none;
}


/* Layout */

.container {
    margin: 0 auto;
    max-width: 700px;
    padding: 40px;
}

.title {
    margin: 0;
    text-align: center;
    color: #111;
}

.subtitle {
    margin: 0;
    text-align: center;
    color: #111;
}

.card-container {
    margin: 40px 0;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
}

.caption {
    margin: 10px;
}